body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
}

h1 {
  margin-top: 20px;
}

#map, canvas {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.country {
  fill: #eee;
  stroke: #aaa;
}

.hotspot {
  stroke: #333;
  stroke-width: 0.5px;
  opacity: 0.7;
}

canvas {
  pointer-events:none; /* map interaction */
}
