/* body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
}

h1 {
  margin-top: 20px;
}

#map {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
}

.country {
  fill: #eee;
  stroke: #aaa;
}

.hotspot {
  stroke: #333;
  stroke-width: 0.5px;
  opacity: 0.7;
}

canvas {
  background: rgba(255,0,0,0.2);
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
}
 */
